@import "fontAwesome";

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin bd-top($w,$h,$c) {
  display: block;
  width: $w;
  height: $h;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-color: transparent;
    border-width: 0;
    border-style: solid;
    border-left-width: $w/2;
    border-right-width: $w/2;
    border-top-width: $h;
    border-top-color: $c;
  }
  &__wrapper {
    position: relative;
    height: 82px;
  }
}

@mixin burger-menu($float,$size, $sizeH, $height, $color, $offset, $bdrs) {
  position: relative;
  float: $float;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  width: $size;
  height: $size;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  @include user-select(none);
  span {
    @include user-select(none);
    display: block;
    position: absolute;
    top: 50%;
    @include calc(top, "50% - #{$height}");
    /*@include transform(translateY(-50%));*/
    left: 0;
    right: 0;
    height: $height;
    background: $color;
    -webkit-border-radius: $bdrs;
    -moz-border-radius: $bdrs;
    border-radius: $bdrs;
    @include transition(background 0s 0.3s);
    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      height: $height;
      background-color: $color;
      -webkit-border-radius: $bdrs;
      -moz-border-radius: $bdrs;
      border-radius: $bdrs;
      content: "";
      @include transition-duration(0.3s, 0.3s);
      @include transition-delay(0.3s, 0s);
    }
    &::before {
      top: -$sizeH/2 + $height;
      @include transition-property(top, transform);
    }
    &::after {
      bottom: -$sizeH/2 + $height;
      @include transition-property(bottom, transform);
    }
  }
  &.in {
    span {
      background: transparent;
      &::before,
      &::after {
        @include transition-delay(0s, 0.3s);
      }
      &::before {
        top: 0;
        @include transform(rotate(45deg));
      }
      &::after {
        bottom: 0;
        @include transform(rotate(-45deg));
      }
    }
  }
}

@mixin responsiveTable() {
  overflow-x: auto;
  table {
    max-width: 100%;
  }
}

@mixin pinnedFooter($height) {
  body,
  html {
    min-height: 100%;
    height: 100%;
  }
  #wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0;
    margin-bottom: -$height;
    &:after {
      content: "";
      clear: both;
      height: $height;
      display: block;
    }
  }
  #footer {
    min-height: $height;
  }
}

@mixin stickyFooter() {
  .wrp {
    min-height: 100vh;
    @include display(flex);
    @include flex-direction(column);
  }
  .main {
    @include flex-grow(1);
  }
}

@mixin fotter() {
  html,
  body {
    height: 100%;
  }
  .wrp {
    @include display(flex);
    @include flex-direction(column);
    height: 100%;
  }
  .main {
    @include flex(1 0 auto);
  }
  .ftr {
    @include flex(0 0 auto);
  }
}

@mixin linkFade($fz, $color, $fontWeight) {
  position: relative;
  display: block;
  outline: none;
  color: #fff;
  text-decoration: none;
  border: none;
  font-weight: 400;
  font-size: $fz;
  color: rgba(0, 0, 0, 0.4);
  font-weight: $fontWeight;
  text-shadow: none;
  &::before {
    color: $color;
    content: attr(data-hover);
    position: absolute;
    @include transition(transform 0.3s ease-in 0s, opacity 0.3s ease-in);
  }
  &:hover::before {
    @include transform(scale(0.9));
    opacity: 0;
  }
}

@mixin showHorizontalLine($fz, $color1, $color2, $fontWeight, $height, $padding) {
  position: relative;
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: $fontWeight;
  font-size: $fz;
  padding: 10px;
  color: $color1;
  font-weight: $fontWeight;
  text-shadow: none;
  @include transition(color 0.3s ease-in);
  &::after,
  &::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: $height;
    background: $color2;
    content: '';
    opacity: 0;
    @include transition(opacity 0.3s ease-in, transform 0.3s ease-in);
    @include transform(translateY(-$padding));
  }
  &::before {
    top: 0;
    @include transform(translateY(-$padding));
  }
  &::after {
    bottom: 0;
    @include transform(translateY($padding));
  }
  &:hover {
    color: $color2;
    &::before {
      opacity: 1;
      @include transform(translateY(0px));

    }
    &::after {
      opacity: 1;
      @include transform(translateY(0px));
    }
  }
}

@mixin headModal() {
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    visibility: hidden;
  }
}

@mixin modalWindow($animationIn: modalBounce, $animationOut: modalMinimise) {
  .modal {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include transition(opacity 0.5s ease-out, z-index 0.5s ease-out, visibility 0.5s ease-out);
    &.in,
    &:target {
      pointer-events: auto;
      opacity: 1;
      z-index: 9999;
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.7);
      .modal__container {
        @include animation-name($animationIn);
      }
    }
    &__close-area {
      cursor: pointer;
      display: block;
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &__container {
      @include animation($animationOut 0.5s ease-out);
      position: relative;
      margin: auto;
    }
  }

  @include keyframes(modalMinimise) {
    from {
      @include transform(scale3d(1, 1, 1));
    }
    to {
      @include transform(scale3d(0.1, 0.1, 1));
    }
  }
  @include keyframes(modalBounce) {
    0% {
      @include transform(scale3d(0.1, 0.1, 1));
    }
    55% {
      @include transform(scale3d(1.08, 1.08, 1));
    }
    75% {
      @include transform(scale3d(0.95, 0.95, 1));
    }
    100% {
      @include transform(scale3d(1, 1, 1));
    }

  }
}

@mixin shadowAnimate() {
  @include keyframes(shadowAnimate) {
    0% {
      @include transform(scale(1));
      box-shadow: 0 0 5px 0 $color_heading;
      opacity: 1;
    }
    50% {
      @include transform(scale(0.95));
      opacity: 0.95;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
    }
    100% {
      @include transform(scale(1));
      box-shadow: 0 0 5px 0 $color_heading;
      opacity: 1;
    }
  }
}

@mixin customKeyFrames() {
  @include keyframes(moveUp) {
    from {
    }
    to {
      @include transform(translateY(0));
      opacity: 1;
    }
  }
  @include keyframes(fadeIn) {
    from {
    }
    to {
      opacity: 1;
    }
  }
  @include keyframes(scaleUp) {
    from {
    }
    to {
      @include transform(scale(1));
      opacity: 1;
    }
  }
  @include keyframes(fallPerspective) {
    from {
    }
    to {
      @include transform(translateZ(0px) translateY(0px) rotateX(0deg));
      opacity: 1;
    }
  }
  @include keyframes(fly) {
    from {
    }
    to {
      @include transform(rotateX(0deg));
      opacity: 1;
    }
  }
  @include keyframes(fly) {
    from {
    }
    to {
      @include transform(rotateX(0deg));
      opacity: 1;
    }
  }
  @include keyframes(flip) {
    from {
    }
    to {
      @include transform(rotateX(0deg));
      opacity: 1;
    }
  }
  @include keyframes(helix) {
    from {
    }
    to {
      @include transform(scale(1));
      opacity: 1;
    }
  }
  @include keyframes(popUp) {
    from {
    }
    70% {
      @include animation-timing-function(ease-ou);
    }
    to {
      @include transform(rotateY(0deg));
      opacity: 1;
    }
  }
}

@mixin box-sizing($t:border-box) {
  outline: none;
  -moz-box-sizing: $t;
  -webkit-box-sizing: $t;
  box-sizing: $t;
}

@mixin reset() {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote {
    &:before, &:after {
      content: '';
      content: none;
    }
  }

  q {
    &:before, &:after {
      content: '';
      content: none;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );
  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}