html {
  font-size: 10px;
  line-height: normal;
}

.editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: $mb;
  }

  h1 {
    color: $color_heading;
  }

  h2 {
    color: $color_heading;
  }
  h3,
  h4,
  h5,
  h6 {
    color: $color_heading;
  }

  em {
    font-style: italic;
    b,
    strong {
      font-weight: 700;
    }
  }
  b,
  strong {
    font-weight: 700;
  }

  i {
    font-style: italic;
  }

  /* Joomla! */
  /* WordPress */
  .alignleft {
    float: left;
    margin: 0.375em 0.375em 0.375em 0;
  }

  .alignright {
    float: right;
    margin: 0.375em 0 0.375em 0.375em;
  }

  .aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 0.375em;
  }

  div,
  td,
  li,
  p,
  h5,
  h6 {
    font-size: $fnt_size;
  }

  table {
    display: none;
    margin-top: $mb;
    max-width: 100% !important;
    border: 1px solid $table_color;
    td {
      border: 1px solid $table_color;
      padding: 15px 25px;
    }
    &.alignright{
      float: right;
      margin: $mb 0 0.375em 0.375em;
    }
    &.alignleft {
      float: left;
      margin: $mb 0.375em 0.375em 0;
    }
    &.aligncenter {
      clear: both;
      margin: $mb auto 0;
    }
  }

  .table-wrap {
    overflow-x: auto;
    table {
      display: table;
    }
  }

  blockquote {
    margin-top: $mb;
    display: block;
    position: relative;
    padding: 40px 0;
    @include breakpoint($brp-2){
      padding: 40px 70px;
    }
    * {
      font-size: 2.2rem !important;
      margin: 0 !important;
      font-style: italic !important;
    }
    &::before,
    &::after {
      content: '\e800';
      position: absolute;
      font-family: Fontello, sans-serif;
      font-size: 2.1rem;
      color: #424242;
      top: 0;
      left: 0;
    }
    &::after {
      content: '\e802';
      top: auto;
      left: auto;
      right: 0;
      bottom: 0;
    }
  }

  ol,
  ul {
    list-style-position: outside;
    padding-left: 20px;
    margin-top: $mb;
    line-height: 2.7rem;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style-type: disc;
  }

  li {
    position: relative;
    padding-left: 20px;
    margin-top: $mb*0.618;

  }

  a {
    color: $color_heading;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 0 rgba($color_heading, 1);
    @include transition(border-color 0.3s ease-out);
    &:hover {
      box-shadow: inset 0 -1px 0 0 rgba($color_heading, 0);
    }
  }



}

iframe,
img {
  max-width: 100%;
  height: auto;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
