.m-menu {
  display: block;
  padding: 30px 0 40px;
  position: absolute;
  left: 15px;
  top: 0;
  @include transition(transform .3s linear);
  @include transform(scale(0));
  @include breakpoint($brp-0) {

  }
  @include breakpoint($brp-3) {
    @include transform(scale(1));
    float: left;
    width: 415px;
    left: 0;
    position: relative;
    padding: 55px 0 0;
  }
  @include breakpoint($brp-4) {
    display: none;
  }
  &__lst {
    @include display(flex);
    @include align-items(flex-start);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
  }
  &_in {
    @include transform(scale(1));
  }
  &__l {
    text-decoration: none;
    font-size: 1.4rem;
    height: 22px;
    line-height: 2.2rem;
    text-transform: uppercase;
    display: block;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
    @include transition(color .3s ease-in);
    @include breakpoint($brp-0) {
      font-size: 1.8rem;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 22px;
      width: 2px;
      background: $mint;
      @include transform(scale(1, 0));
      @include transition(transform .3s ease-in);
    }
    &_in,
    &:hover {
      color: $mint;
      &::before {
        @include transform(scale(1));
      }
    }
  }
  &__itm {
    width: 50%;
    margin: 0 0 10px;
    @include breakpoint($brp-0) {
      margin: 0 0 28px;
      width: 45% !important;
    }
    @include breakpoint($brp-3) {
      margin: 0 0 32px;
    }
  }
}

.auth-modal {
  @include user-select(none);
  position: relative;
  @include transition(z-index 0s .4s, opacity .1s .4s);
  &::before {
    content: '';
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    background: rgba(#fff, 0);
    pointer-events: none;
    @include transition(background .3s .1s);
  }
  &__wrp {
    overflow: auto;
  }
  &__inner {
    opacity: 0;
    visibility: hidden;
    padding: 20px 15px;
    @include breakpoint($brp-3) {
      padding: 25px 30px;
    }
  }
  &__cnt {
    width: 290px;
    height: 220px;
    position: fixed;
    background: $lbrown;
    border: 1px solid transparent;
    @include transition(width .3s);
    @include breakpoint($brp-3) {
      width: 255px;
      height: 190px;
    }
  }
  &_move {
    .auth-modal__cnt {
      @include transition(z-index .3s .1s, transform .3s .1s, left .3s .1s, top .3s .1s, height .3s .1s, width .3s .1s);
    }
    .auth-modal__inner {
      @include transition(visibility .1s, opacity .1s);
    }
  }
  &_in {
    z-index: 3;
    opacity: 1;
    @include transition(opacity .1s);
    &::before {
      background: rgba(#fff, .7);
      pointer-events: auto;
    }
    .auth-modal__cnt {
      z-index: 2;
      border-color: $brown;
      top: 50% !important;
      left: 50% !important;
      width: 276px;
      height: auto;
      @include transform(translate(-50%, -50%));
      @include breakpoint($brp-3) {
        width: 490px;
        height: auto;
      }
    }
    .auth-modal__inner {
      opacity: 1;
      visibility: visible;
      @include transition(visibility .1s .4s, opacity .1s .4s);
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid $brown;
    background: #fff;
    border-radius: 50%;
    @include transition(transform .3s);
    @include breakpoint($brp-3) {
      width: 42px;
      height: 42px;
      top: -21px;
      right: -21px;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 12px;
      left: 6px;
      display: block;
      height: 2px;
      width: 14px;
      background: $brown;
      @include transform(rotate(-45deg));
      @include breakpoint($brp-3) {
        width: 20px;
        top: 18px;
        left: 9px;
      }
    }
    &::after {
      @include transform(rotate(45deg));
    }
    &:hover {
      @include transform(rotate(180deg));
    }
  }
  &__wrp {

  }
}

.auth-form {
  &__row {
    display: block;
    padding: 0;
    margin: 0 0 10px;
    width: 100%;
    @include clearfix();
    @include breakpoint($brp-3) {
      margin: 0 0 20px;
    }
    &_pass {
      position: relative;
    }
    &_tgl-phone {
      margin: 0;
    }
    &_auth-reg {
      margin: 0;
    }
    &_login {
    }
    &_last {
      margin: 0;
    }
    &_login-captcha,
    &_captcha {
      overflow: hidden;
      height: 58px;
      @include breakpoint($brp-3) {
        height: 103px;
        text-align: center;
      }
    }
    &_hide {
      display: none;
    }
  }
  &__submit {
    width: 244px;
    display: block;
    border: none;
    border-radius: 18px;
    padding: 0;
    margin: 0 auto;
    height: 36px;
    font-family: MVideo, sans-serif;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    line-height: 3.6rem;
    text-align: center;
    font-size: 1.4rem;
    color: $lbrown;
    background: $mint;
    @include transition(background .3s);
    &:hover {
      background: #fff;
    }
    @include breakpoint($brp-3) {
      border-radius: 25px;
      font-size: 1.8rem;
      height: 50px;
      line-height: 5rem;
      &_tgl-phone {
        float: right;
      }
    }
    &_login {
      width: 100%;
      @include breakpoint($brp-3) {
        float: right;
        width: 205px;
      }
    }
    &_auth-reg {
      width: 100%;
      @include breakpoint($brp-3) {
        width: 250px;
        float: right;
      }
    }
    &_tgl {
      width: 100%;
      @include breakpoint($brp-3) {
        width: 205px;
        float: right;
      }
    }
  }
  &__input {
    -webkit-appearance: none !important;
    display: block;
    border: none;
    width: 100%;
    font-family: MVideo, sans-serif;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: $brown;
    color: #ffffff;
    font-size: 1.4rem;
    height: 40px;
    line-height: 4rem;
    padding: 0 20px;
    @include breakpoint($brp-3) {
      font-size: 1.6rem;
      height: 50px;
      line-height: 5rem;
    }
    @include placeholder {
      color: #fff;
    }
  }
  &__eye {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 50%;
    opacity: 0;
    @include transition(opacity .3s);
    @include transform(translateY(-50%));
    &::before {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      font-family: FontAwesome, sans-serif;
      content: '\f06e';
      font-size: 2rem;
      @include transition(opacity .3s);
    }
    &::after {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      font-family: FontAwesome, sans-serif;
      content: '\f070';
      font-size: 2rem;
      @include transition(opacity .3s);
    }
    &_show {
      opacity: 1;
    }
    &_in {
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 0;
      }
    }
  }
  input::-ms-clear, input::-ms-reveal {
    display: none;
  }
}

.money-box {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  @include transition(max-height .6s, opacity .3s, padding 0.3s);
  @include user-select(none);
  line-height: 1;
  text-align: center;
  color: #fff;
  &__container {
    padding: 0 25px;
  }
  &__row {
    @include clearfix();
    @include user-select(none);
    padding: 0 0 5px;
    @include breakpoint($brp-3) {
      padding: 25px 5px 15px;
    }
  }
  &__back {
    cursor: pointer;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    @include breakpoint($brp-3) {
      float: left;
      height: 52px;
      line-height: 5.2rem;
      font-size: 1.6rem;
    }
  }
  &__auth {
    cursor: pointer;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $lbrown;
    text-align: center;
    margin: 5px auto 15px;
    width: 215px;
    height: 36px;
    line-height: 3.6rem;
    border-radius: 18px;
    background: $mint;
    @include transition(background .3s, color .3s);
    @include breakpoint($brp-3) {
      float: right;
      margin: 0;
      width: 218px;
      height: 52px;
      font-size: 1.8rem;
      border-radius: 26px;
      line-height: 5.2rem;
    }
    &:hover {
      color: $lbrown;
      background: #fff;
    }
  }
  &__ttl {
    letter-spacing: 1.1px;
    font-size: 3rem;
    line-height: 3.4rem;
    text-transform: uppercase;
    margin: 5px 0 0;
    @include breakpoint($brp-3) {
      font-size: 3.6rem;
      margin: 15px 0 0;
    }
  }
  &__sttl {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    line-height: 3.4rem;
    @include breakpoint($brp-3) {
      font-size: 2.4rem;
    }
  }
  &__txt {
    letter-spacing: 1.1px;
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 10px 0 8px;
    @include breakpoint($brp-3) {
      font-size: 1.6rem;
      margin: 15px 0 8px;
    }
  }
  &.auth-target {
    max-height: 800px;
    opacity: 1;
  }
}

.tgl-phone {
  position: relative;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  @include transition(max-height .6s, opacity .3s, padding 0.3s);
  &__form {
    opacity: 1;
    overflow: hidden;
    @include transition(opacity .3s, max-height .3s);
  }
  &__ttl {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.4rem;
    letter-spacing: 1.1px;
    line-height: 1.4;
    margin: 0 0 10px;
    @include breakpoint($brp-3) {
      font-size: 3.6rem;
    }
  }
  &__txt {
    font-size: 1.2rem;
    line-height: 1.4;
    margin: -5px 0 15px;
    @include breakpoint($brp-3) {
      font-size: 1.6rem;
      margin: -5px 0 25px;
    }
  }
  &__to-cart {
    text-align: center;
    display: block;
    width: 200px;
    border-radius: 18px;
    text-decoration: none;
    margin: 0 auto;
    font-size: 1.4rem;
    background: $mint;
    color: $lbrown;
    height: 36px;
    line-height: 3.6rem;
    text-transform: uppercase;
    @include transition(background .3s);
    @include breakpoint($brp-3) {
      font-size: 1.8rem;
      height: 52px;
      line-height: 5.2rem;
      border-radius: 26px;
    }
    &:hover {
      background: #fff;
    }
  }
  &__answer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    @include transform(scale(0));
    @include transition(transform .3s);
    @include breakpoint($brp-3) {
      bottom: 10px;
    }
  }
  &_answer {
    .tgl-phone__form {
      opacity: 0;
      max-height: 95px;
      @include breakpoint($brp-3) {
        max-height: 140px;
      }
    }
    .tgl-phone__answer {
      @include transform(scale(1));
    }
  }
  &.auth-target {
    max-height: 800px;
    opacity: 1;
    @include breakpoint($brp-3) {
      padding: 10px 15px 15px;
    }
  }
}

.auth-reg {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  @include transition(max-height .6s, opacity .3s, padding 0.3s);
  &__form {
    opacity: 1;
    overflow: hidden;
    @include transition(opacity .3s, max-height .3s);
  }
  &__answer {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0;
    text-align: center;
    color: #fff;
    @include transform(scale(0));
    @include transition(transform .3s);
    @include breakpoint($brp-3) {
      bottom: 45px;
    }
  }
  &__txt {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
    margin: -5px 0 15px;
    color: #fff;
    @include breakpoint($brp-3) {
      font-size: 1.6rem;
      margin: -5px 0 25px;
    }
  }
  &__ttl {
    font-size: 3rem;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 0 20px;
    @include breakpoint($brp-3) {
      font-size: 3.6rem;
    }
  }
  &__captcha {
    @include transform(scale(.74));
    @include transform-origin(0 0);
    @include breakpoint($brp-3) {
      @include transform(scale(1.316));
      @include transform-origin(0 0);
      /*      display: inline-block;
            vertical-align: top;*/
      text-align: left;
    }
  }
  &__login {
    cursor: pointer;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    margin: 15px 0 0;
    @include breakpoint($brp-3) {
      margin: 0;
      float: left;
      font-size: 1.6rem;
      line-height: 5rem;
      height: 50px;
    }
  }
  &__to-cart {
    text-align: center;
    display: block;
    width: 224px;
    border-radius: 18px;
    text-decoration: none;
    margin: 0 auto;
    font-size: 1.4rem;
    background: $mint;
    color: $lbrown;
    height: 36px;
    line-height: 3.6rem;
    text-transform: uppercase;
    @include transition(background .3s);
    @include breakpoint($brp-3) {
      font-size: 1.8rem;
      height: 52px;
      width: 200px;
      margin: 0 auto;
      line-height: 5.2rem;
      border-radius: 26px;
    }
    &:hover {
      background: #fff;
    }
  }
  &_answer {
    .auth-reg__form {
      opacity: 0;
      height: 95px;
      @include breakpoint($brp-3) {
        height: 140px;
      }
    }
    .auth-reg__answer {
      @include transform(scale(1));
    }
  }
  &.auth-target {
    opacity: 1;
    max-height: 800px;
    padding: 0 10px;
    @include breakpoint($brp-3) {
      padding: 10px 15px;
    }
  }
}

.auth-login {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  @include transition(max-height .6s, opacity .3s, padding 0.3s);
  &__ttl {
    font-size: 3rem;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 0 20px;
    @include breakpoint($brp-3) {
      font-size: 3.6rem;
    }
  }
  &__captcha {
    @include transform(scale(.74));
    @include transform-origin(0 0);
    @include breakpoint($brp-3) {
      @include transform(scale(1.316));
      @include transform-origin(0 0);
      /*      display: inline-block;
            vertical-align: top;*/
      text-align: left;
    }
  }
  &__form {
    opacity: 1;
    overflow: hidden;
    @include transition(opacity .3s, max-height .3s);
  }
  &__lost {
    cursor: pointer;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    margin: 10px 0 0;
    @include breakpoint($brp-3) {
      line-height: 5rem;
      height: 50px;
      font-size: 1.6rem;
      margin: 0;
      text-align: left;
      padding: 0 0 0 15px;
    }
  }
  &__reg {
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    @include breakpoint($brp-3) {
      font-size: 1.6rem;
      padding: 5px 0 0;
    }
  }
  &.auth-target {
    opacity: 1;
    max-height: 800px;
    padding: 0 10px;
    @include breakpoint($brp-3) {
      padding: 10px 15px;
    }
  }
}

.auth-pass {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  @include transition(max-height .6s, opacity .3s, padding 0.3s);
  padding: 0 10px;
  @include breakpoint($brp-3) {
    padding: 10px 15px;
  }
  &__ttl {
    font-size: 3rem;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 0 20px;
    @include breakpoint($brp-3) {
      font-size: 3.6rem;
    }
  }
  &__link {
    cursor: pointer;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    margin: 10px 0 0;
    @include breakpoint($brp-3) {
      line-height: 5rem;
      height: 50px;
      font-size: 1.6rem;
      margin: 0;
      text-align: left;
      padding: 0 0 0 15px;
    }
  }
  &__txt {
    text-align: center;
    letter-spacing: 1.1px;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #fff;
    margin: 10px 0 8px;
    @include breakpoint($brp-3) {
      font-size: 1.6rem;
      margin: 15px 0 8px;
    }
  }
  &__form {
    &_first {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      @include transition(max-height .6s, opacity .3s, padding 0.3s);
    }
    &_sms {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      @include transition(max-height .6s, opacity .3s, padding 0.3s);
    }
    &_not-sms {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      @include transition(max-height .6s, opacity .3s, padding 0.3s);
    }
    &.auth-target {
      opacity: 1;
      max-height: 800px;
    }
  }
  &.auth-target {
    opacity: 1;
    max-height: 800px;
    padding: 0 10px;
    @include breakpoint($brp-3) {
      padding: 10px 15px;
    }
  }
}