.bnr {
  margin: 0 0 25px;
  display: none;
  @include breakpoint($brp-3) {
    margin: 0 0 30px;
    display: block;
  }
  @include breakpoint($brp-4) {
    margin: 0;
  }
  &__slide {
    background-position: 39% 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 350px;
    @include breakpoint($brp-3) {
      height: 420px;
      background-position: 18% 0;
    }
    @include breakpoint($brp-4) {
      height: 375px;
      background-position: 50% 0;
      background-size: auto;
    }
  }
  &__dots {
    font-size: 0;
    text-align: center;
    position: absolute;
    bottom: 20px !important;
    z-index: 99;
    @include breakpoint($brp-3) {
      bottom: 25px !important;
    }
    @include breakpoint($brp-4) {
      bottom: 20px !important;
    }
  }
  .swiper-pagination-bullet {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 !important;
    background: $mint;
    @include transition(background .3s linear);
    opacity: 1;
    &:hover,
    &-active {
      background: $brown;
    }
  }
}

.modal-item {
  position: relative;
  @include transition-timing-function(cubic-bezier(0.7,0,0.3,1));
  @include transition(z-index 0s .4s, opacity .1s .4s);
  &::before {
    content: '';
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    background: rgba(#fff, 0);
    pointer-events: none;
    @include transition(background .3s .1s);
  }
  &__inner {
    opacity: 0;
    visibility: hidden;
    padding: 20px 15px;
    @include breakpoint($brp-3) {
      padding: 25px 30px;
    }
  }
  &__cnt {
    width: 264px;
    height: 360px;
    position: fixed;
    background: $lbrown;
    border: 1px solid transparent;
    max-height: 800px;
    @include breakpoint($brp-3) {
      width: 300px;
      height: 380px;
    }
  }
  &__wrp {
    overflow: auto;
    @include breakpoint(min-height 720px){
      overflow: visible;
    }
  }
  &_move {
    &::before {
      background: rgba(#fff, .7);
      pointer-events: auto;
    }
    .modal-item__cnt {
      @include transition(z-index .3s .1s, transform .3s .1s, left .3s .1s, top .3s .1s, height .3s .1s, width .3s .1s);
    }
    .modal-item__inner {
      @include transition(visibility .1s, opacity .1s);
    }
  }
  &_in {
    z-index: 3;
    opacity: 1;
    @include transition(opacity .1s);
    &::before {
      background: rgba(#fff, .7);
      pointer-events: auto;
    }
    .modal-item__cnt {
      z-index: 2;
      border-color: $brown;
      top: 50% !important;
      left: 50% !important;
      width: 90%;
      max-width: 560px;
      @include calc(width, '100% - 44px');
      height: auto;
      @include transform(translate(-50%, -50%));
      @include breakpoint($brp-3) {
        width: 560px;
        height: auto;
      }
    }
    .modal-item__inner {
      opacity: 1;
      visibility: visible;
      @include transition(visibility .1s .4s, opacity .1s .4s);
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid $brown;
    background: #fff;
    border-radius: 50%;
    @include transition(transform .3s);
    @include breakpoint($brp-3) {
      width: 42px;
      height: 42px;
      top: -21px;
      right: -21px;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 12px;
      left: 6px;
      display: block;
      height: 2px;
      width: 14px;
      background: $brown;
      @include transform(rotate(-45deg));
      @include breakpoint($brp-3) {
        width: 20px;
        top: 18px;
        left: 9px;
      }
    }
    &::after {
      @include transform(rotate(45deg));
    }
    &:hover {
      @include transform(rotate(180deg));
    }
  }
  &__desc {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.14;
    @include breakpoint($brp-3) {
      font-size: 1.6rem;
    }
  }
  &__ttl {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    margin: 9px 0 8px;
    @include transition(color .3s);
    @include breakpoint($brp-3) {
      font-size: 2.4rem;
      margin: 14px 0 8px;
    }
  }
  &__thumb {
    width: 100%;
    vertical-align: top;
    @include transition(transform .3s);
  }
  &__image {
    @include user-select(none);
    &-wrap {
      display: block;
      overflow: hidden;
    }
    &:hover {
      .modal-item__ttl {
        color: $mint;
      }
      .modal-item__thumb {
        @include scale(1.05)
      }
    }
  }
  &__left {
    float: left;
    padding: 42px 0 0;
    position: relative;
  }
  &__right {
    float: right;
  }
  &__row {
    margin: 12px 0 0;
    @include user-select(none);
    @include clearfix();
  }
  &__value {
    font-size: 1.4rem;
    color: #ffffff;
    display: block;
    margin: 5px 0 0;
    @include breakpoint($brp-3) {
      margin: 0 0 0 10px;
      display: inline;
      font-size: 1.6rem;
    }
  }
  &__price {
    font-size: 2.4rem;
    color: #fff;
    @include breakpoint($brp-3) {
      font-size: 3.6rem;
    }
    &::after {
      content: '¤';
      font-weight: 400;
    }
  }
  &__price-sale {
    position: absolute;
    top: 6px;
    left: 0;
    /*position: relative;*/
    font-size: 1.6rem;
    color: #ccc;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 20px;
    @include breakpoint($brp-3) {
      font-size: 1.8rem;
    }
    &::before {
      content: '';
      display: block;
      height: 1px;
      background-color: #ccc;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
    }
    &::after {
      content: '¤';
      font-weight: 400;
    }
  }
}

.cs-loader {
  display: none;
  @include user-select(none);
  position: absolute;
  bottom: 20px;
  padding: 0 20px 0 0;
  left: 0;
  height: 20px;
  width: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  &__inner {
    top: 0;
    position: absolute;
    width: 100%;
    color: #FFF;
    padding: 0 100px;
    text-align: center;
  }
  &__item {
    font-size: 2rem;
    opacity: 0;
    display: inline-block;
    color: $brown;
    @include breakpoint($brp-1) {
      font-size: 2.4rem;
    }
  }
  &.in {
    z-index: 5;
    opacity: 1;
    visibility: visible;
    .cs-loader__item {
      &:nth-child(6) {
        @include animation(lol 3s infinite ease-in-out)
      }
      &:nth-child(5) {
        @include animation(lol 3s 100ms infinite ease-in-out)
      }
      &:nth-child(4) {
        @include animation(lol 3s 200ms infinite ease-in-out)
      }
      &:nth-child(3) {
        @include animation(lol 3s 300ms infinite ease-in-out)
      }
      &:nth-child(2) {
        @include animation(lol 3s 400ms infinite ease-in-out);
      }
      &:nth-child(1) {
        @include animation(lol 3s 500ms infinite ease-in-out);
      }
    }
  }
}

.loader {
  @include user-select(none);
  position: absolute;
  bottom: -20px;
  left: 40%;
  font-size: 0;
  margin-left: 10%;
  transform: translateX(-50%);
  &__dot {
    width: 18px;
    height: 18px;
    margin: 0 5px;
    background: $mint;
    border-radius: 100%;
    display: inline-block;
    @include animation(slide 1s infinite);
    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        animation-delay: 0.1s*$i;
      }
    }
  }
}

@include keyframes(lol) {
  0% {
    opacity: 0;
    @include transform(translateX(-300px));
  }
  33% {
    opacity: 1;
    @include transform(translateX(0px));
  }
  66% {
    opacity: 1;
    @include transform(translateX(0px));
  }
  100% {
    opacity: 0;
    @include transform(translateX(300px));
  }
}

@include keyframes (slide) {
  0% {
    @include transform(scale(1));
  }
  50% {
    opacity: 0.7;
    background: $lbrown;
    @include transform(scale(2));
  }
  100% {
    @include transform(scale(1));
  }
}