.items {
  line-height: 1;
  padding: 0 0 30px;
  &__small {
    position: relative;
    width: 264px;
    background: $lbrown;
    border: 1px solid $brown;
    padding: 19px 16px 15px;
    @include breakpoint($brp-2) {
      left: auto;
    }
    @include breakpoint($brp-3) {
      width: 300px;
      padding: 19px 19px 15px;
    }
    opacity: 1;
    @include transition(opacity .3s .2s);
    &_in {
      opacity: 0;
      @include transition(opacity .3s .1s);
    }
  }
  &__list {
    margin: 0 auto;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include breakpoint($brp-2) {
      width: 591px;
      @include align-items(stretch);
      @include justify-content(space-between);
      @include flex-direction(row);
    }
    @include breakpoint($brp-3) {
      padding: 0 20px 0 0;
      width: 724px;
    }
    @include breakpoint($brp-4) {

    }
    @include breakpoint($brp-5) {
      width: auto;
    }
    &::before,
    &::after {
      content: '';
      @include order(9999999);
      display: block;
      width: 264px;
      @include breakpoint($brp-3) {
        width: 300px;
      }
    }
  }
  &__itm {

    margin: 0 0 40px;
    position: relative;
    left: -10px;
    @include breakpoint($brp-2) {
      left: auto;
    }
    @include breakpoint($brp-4) {
      margin: 0 0 50px;
    }
    &-cnt {

    }
  }
  &__l {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff;
    @include transition(color .3s ease-in);
  }
  &__thumb {
    @include transition(transform 0.3s ease-in);
    vertical-align: top;
    width: 100%;
  }
  &__image {
    @include user-select(none);
    margin-bottom: 12px;
    width: 100%;
    &-wrap {
      overflow: hidden;
      display: block;
    }
    &:hover {
      .items__thumb {
        @include transform(scale(1.05));
      }
      .items__l {
        color: $mint;
      }
    }
  }
  &__ttl {
    margin-top: 12px;
  }
  &__desc {
    line-height: 1.6rem;
    font-size: 1.4rem;
    color: #fff;
    height: 32px;
    overflow: hidden;
    position: relative;
    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 16px;
      right: 0;
      bottom: 0;
      width: 60px;
      background-color: $lbrown;
    }
    &::after {
      right: 60px;
      bottom: 0;
      @include linear-gradient(270deg, $lbrown, transparent);
      background-color: transparent;
      width: 40px;
    }
  }
  &__price {
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    margin: 0 0 5px;
    &::after {
      content: '¤';
      font-weight: 400;
    }
  }
  &__price-sale {
    position: absolute;
    top: 6px;
    left: 0;
    /*position: relative;*/
    font-size: 1.6rem;
    color: #ccc;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 20px;
    &::before {
      content: '';
      display: block;
      height: 1px;
      background-color: #ccc;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
    }
    &::after {
      content: '¤';
      font-weight: 400;
    }
  }
  &__value {
    font-size: 1.4rem;
    color: #fff;
  }
  &__row {
    @include user-select(none);
    @include clearfix();
    padding: 10px 0 0;
  }
  &__left {
    float: left;
    padding: 42px 0 0;
    position: relative;
  }
  &__right {
    float: right;
  }
  &__mark-value {
    text-align: center;
    display: block;
    position: relative;
    color: #fff;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 3rem;
    z-index: 1;
    @include transform(scale(.85));
    @include transition(transform 0.3s linear);
  }
  &__mark {
    @include user-select(none);
    cursor: pointer;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 22px;
    right: -22px;
    width: 102px;
    height: 55px;
    &::before {
      content: '';
      background: url($svg) no-repeat;
      display: block;
      background-position: -10px -1001px;
      width: 110px;
      height: 55px;
      position: absolute;
      top: 0;
      right: -10px;
    }
    &_sale {
      &::before {
        background-position: -10px -1076px;
      }
    }
    &:hover {
      .items__mark-value {
        @include transform(scale(1));
      }
    }
    &_modal {
      @include breakpoint($brp-3) {
        top: 30px;
      }
    }
  }
  &__loader {
    position: relative;
  }
}

.quantity {
  margin: 0 0 15px auto;
  position: relative;
  text-align: center;
  width: 122px;
  @include display(flex);
  @include breakpoint($brp-3) {
    width: 110px;
  }
  &_basket {
    margin: 0;
    width: 145px;
  }
  &_modal {
    width: 122px;
  }
  &__btn {
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    @include flex-shrink(0);
    width: 30px;
    height: 30px;
    line-height: 3rem;
    background: $brown;
    color: #fff;
    @include transition(color .3s ease-in, background .3s ease-in);
    &:hover {
      color: $brown;
      background: $mint;
    }
    &_disable {
      opacity: .4;
      background: $brown !important;
      color: #fff !important;
    }
    @include breakpoint($brp-3) {
      height: 26px;
      width: 26px;
      line-height: 2.6rem;
    }
    &_plus {
    }
    &_minus {
    }
    &_basket {
      width: 32px;
      height: 32px;
      line-height: 3.2rem;
      font-size: 2.4rem;
    }
  }
  &__value {
    white-space: nowrap;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.6rem;
    color: #fff;
    @include breakpoint($brp-3) {
      height: 26px;
      line-height: 2.6rem;
    }
    &_basket {
      color: $brown;
      font-size: 1.8rem;
    }
  }
  &__count {
    display: none;
  }
}

.cart-btn {
  cursor: pointer;
  border: none;
  display: block;
  overflow: hidden;
  position: relative;
  @include user-select(none);
  width: 126px;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font: 1.4rem 'M.Video', sans-serif;
  line-height: 3rem;
  border-radius: 14px;
  background: $brown;
  @include transition(color .3s ease-in, background .3s ease-in);
  &_modal {
    @include breakpoint($brp-3) {
      width: 186px;
      height: 40px;
      line-height: 4rem;
      border-radius: 40px;
      font-size: 1.8rem;
    }
  }
  &__cnt {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    @include transition(transform .3s linear);
    &::after {
      content: attr(data-add);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      color: $brown;
    }
    &_modal {
      &::after {
        @include breakpoint($brp-3) {
          top: 40px;
        }
      }
    }
    &_load {
      @include transform(translateY(-30px));
      &.cart-btn__cnt_modal {
        @include breakpoint($brp-3) {
          @include transform(translateY(-40px));
        }
      }
    }
  }
  &__progress {
    @include transition(background .3s ease-in);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    border-radius: 15px;
    &_modal {
      @include breakpoint($brp-3) {
        height: 40px;
        border-radius: 20px;
      }
    }
  }
  &__inner {
    border-radius: 15px;
    display: block;
    background: #fff;
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 30px;
    @include transition(width 0s ease, background .3s linear, z-index .3s linear 3s);
    &_modal {
      @include breakpoint($brp-3) {
        height: 40px;
        border-radius: 20px;
      }
    }
    &_add {
      background: transparent;
    }
    &_load {
      width: 100%;
      @include transition(width 2s ease, background .3s linear, z-index .3s linear 3s);
    }
  }
  &:hover,
  &_hover {
    color: $brown;
    background: $mint;
    .cart-btn__progress {
      background: $mint;
    }
  }
  &_add {
    background: #ffffff;
    color: $brown;
    font-size: 0;
  }
}

.modal-item {
  z-index: -1;
  opacity: 0;
}