.ftr {
  @include user-select(none);
  line-height: 1;
  &__t {
    background: $brown;
    height: 68px;
    line-height: 6.8rem;
  }
  &__b {
    text-align: center;
    background: $lbrown;
    padding: 15px 0;
  }
  &__logo {
    text-align: center;
    text-decoration: none;
    display: block;
    &-img {
      width: 100%;
      max-width: 432px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__data {
    @include clearfix();
    position: relative;
    @include breakpoint($brp-4) {
      padding-top: 10px;
    }
  }
}

.soc {
  font-size: 0;
  margin: 0 0 8px;
  @include breakpoint($brp-4) {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 13px;
    @include transform(translateX(-50%));
  }
  &__lst {
  }
  &__l {
    text-decoration: none;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      background-image: url($svg);
      background-position: -10px -587px;
      width: 240.94px;
      height: 260.79px;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%) scale(.125));
    }
    &_fb {
      &::before {
        background-position: -10px -10px;
        width: 240.94px;
        height: 260.79px;
      }
    }
    &_inst {
      &::before {
        background-position: -10px -291px;
        width: 240.94px;
        height: 260.79px;
      }
    }
  }
  &__itm {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
  }
}

.cpr {
  color: #fff;
  line-height: 1.8rem;
  margin-bottom: 8px;
  @include breakpoint($brp-3) {
    br {
      display: none;
    }
  }
  @include breakpoint($brp-4) {
    text-align: left;
    float: left;
    margin-bottom: 0;
    br {
      display: inline;
    }
  }
}

.g-lab {
  text-decoration: none;
  color: #fff;
  line-height: 1.8rem;
  display: inline-block;
  @include breakpoint($brp-4) {
    text-align: right;
    float: right;
    margin-top: 18px;
  }
}

.b-menu {
  display: none;
  width: 550px;
  margin: 5px auto 0;
  line-height: 1;
  position: relative;
  @include clearfix();
  @include breakpoint($brp-4) {
    display: block;
  }
  &__lst {
    width: 170px;
    float: left;
    text-align: right;
    &_r {
      float: right;
      text-align: left;
    }
  }
  &__l {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6rem;
    height: 2rem;
    line-height: 2rem;
    text-decoration: none;
    position: relative;
    padding: 0 11px 0 0;
    @include transition(color .3s ease-in);
    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 22px;
      background: $mint;
      position: absolute;
      right: 0;
      top: -1px;
      @include transition(transform .3s ease-in);
      @include transform(scale(1, 0));
    }
    &_r {
      padding: 0 0 0 11px;
      &::before {
        right: auto;
        left: 0;
      }
    }
    &.in,
    &:hover {
      color: $mint;
      &::before {
        @include transform(scale(1, 1));
      }
    }
  }
  &__itm {
    position: relative;
    margin: 0 0 12px;
    &:last-child {
      margin: 0 0 0;
    }
  }
  &__logo {
    width: 147px;
    height: 147px;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    @include transform(translateX(-50%));
    &-img {

    }
  }
}