.checkout-auth {
  @include user-select(none);
  text-align: center;
  padding: 30px 0 20px;
  border-bottom: 1px solid $lbrown;
  margin: 0 0 25px;
  @include breakpoint($brp-3) {
    padding: 30px 0;
  }
  @include breakpoint($brp-4) {
    text-align: left;
  }
  &__txt {
    color: $brown;
    font-size: 1.6rem;
    @include breakpoint($brp-3) {
      font-size: 2.4rem;
      br {
        display: none;
      }
    }
    @include breakpoint($brp-4) {
      height: 46px;
      line-height: 4.6rem;
    }
  }
  &__btn {
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 15px auto 10px;
    width: 215px;
    height: 36px;
    border-radius: 18px;
    line-height: 3.6rem;
    background: $lbrown;
    text-transform: uppercase;
    color: #fff;
    @include transition(color .3s, background .3s);
    @include breakpoint($brp-3) {
      margin: 15px auto 0;
      font-size: 1.8rem;
      letter-spacing: 1px;
      height: 46px;
      line-height: 4.6rem;
      border-radius: 23px;
      width: 174px;
    }
    @include breakpoint($brp-4) {
      display: inline-block;
      margin: 0 20px;
    }
    &_reg {
      margin-top: 5px;
      @include breakpoint($brp-3) {
        width: 234px;
      }
      @include breakpoint($brp-4) {
        margin: 0 0 0 20px;
      }
    }
    &:hover {
      background: $mint;
      color: $lbrown;
    }
  }
  &__cnt {
    max-width: 1020px;
    margin: 0 auto;
  }
  &__online {
    font-size: 1.6rem;
    color: $brown;
    display: block;
    text-align: center;
    margin: 0 0 10px;
    @include breakpoint($brp-3) {
      font-size: 2.4rem;
      margin: 0 0 19px;
    }
    @include breakpoint($brp-4) {
      display: inline-block;
      vertical-align: bottom;
      margin: 0;
      top: -2px;
      position: relative;
    }
  }
  &__name {
    display: block;
    text-align: center;
    color: $brown;
    font-size: 2.4rem;
    margin: 0 0 12px;
    @include breakpoint($brp-3) {
      font-size: 3rem;
      margin: 0 0 5px;

    }
    @include breakpoint($brp-4) {
      margin: 0 0 0 10px;
      display: inline-block;
      vertical-align: bottom;
    }
    &::after {
      content: ',';
    }
  }
  &__phone {
    display: block;
    text-align: center;
    color: $brown;
    font-size: 2.4rem;
    margin: 0 0 12px;
    @include breakpoint($brp-3) {
      font-size: 3rem;
    }
    @include breakpoint($brp-4) {
      margin: 0 0 0 5px;
      display: inline-block;
      vertical-align: bottom;
    }
  }
  &__change {
    cursor: pointer;
    font-size: 1.4rem;
    display: block;
    text-align: center;
    color: $lbrown;
    margin: 0 auto 0;
    width: 106px;
    border-bottom: 1px solid $lbrown;
    @include transition(border-bottom-color .3s);
    @include breakpoint($brp-3) {
      font-size: 1.8rem;
      width: 134px;
    }
    @include breakpoint($brp-4) {
      display: inline-block;
      vertical-align: bottom;
      position: relative;
      line-height: 1;
      top: -8px;
      margin: 0 0 0 10px;
    }
    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.checkout-title {
  @include user-select(none);
  font-size: 1.6rem;
  text-align: center;
  color: $brown;
  margin: 0 auto;
  max-width: 1020px;
  @include breakpoint($brp-3) {
    font-size: 2.4rem;
  }
  @include breakpoint($brp-4) {
    text-align: left;

  }
  &_payment {
    @include breakpoint($brp-3) {
      text-align: center;
    }
    @include breakpoint($brp-4) {
      text-align: left;
    }
  }
}

.checkout-total {
  text-align: center;
  color: $brown;
  @include user-select(none);
  &__price {
    font-size: 3rem;
    margin: 5px 0 0;
    @include breakpoint($brp-3) {
      font-size: 3.6rem;
      margin: 10px 0 0;
    }
  }
  &__title {
    font-size: 2.4rem;
    @include breakpoint($brp-3) {
      font-size: 3.6rem;
    }
  }
  &__btn {
    cursor: pointer;
    width: 214px;
    height: 36px;
    margin: 25px auto 0;
    line-height: 3.6rem;
    border-radius: 1.8rem;
    background: $lbrown;
    color: #fff;
    text-transform: uppercase;
    @include transition(color .3s, background .3s);
    @include breakpoint($brp-3) {
      width: 206px;
      height: 46px;
      line-height: 4.6rem;
      border-radius: 23px;
      font-size: 1.8rem;
      margin: 17px auto 0;
    }
    &:hover {
      background: $mint;
      color: $lbrown;
    }
  }
}

.payments {
  font-size: 0;
  @include user-select(none);
  text-align: center;
  padding: 25px 0 15px;
  @include breakpoint($brp-3) {
    padding-bottom: 45px;
  }
  @include breakpoint($brp-4) {
    padding: 40px 0 30px;
    border-bottom: 1px solid $brown;
    margin: 0 0 20px;
  }
  &__withdrawal {
    display: block;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1;
  }
  &__item {
    position: relative;
    overflow: hidden;
    width: 290px;
    height: 100px;
    margin: 0 auto 10px;
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint($brp-3) {
      display: inline-block;
      vertical-align: top;
      width: 220px;
      height: 280px;
      margin: 0 24px 0 0;
      &:last-child {
        margin: 0;
      }
    }
    @include breakpoint($brp-4) {
      width: 260px;
    }
  }
  &__withdrawal {
    position: absolute;
    bottom: 8px;
    left: 20px;
    @include breakpoint($brp-3) {
      left: 50%;
      @include transform(translateX(-50%));
      top: auto;
      bottom: 85px;
      font-size: 1.8rem;
      white-space: nowrap;
    }
    &-input {
      background: none;
      border: none;
      border-bottom: 1px solid #ffffff;
      width: 75px;
      display: inline-block;
      margin: 0 0 0 5px;
      padding: 0 5px;
      color: #fff;
      @include breakpoint($brp-3) {
        width: 100px;
      }
    }
  }
  &__title {
    font-size: 1.8rem;
    text-align: left;
    font-family: HaginCaps, serif;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 0 0 0 70px;
    display: block;
    &_withdrawal {
      position: absolute;
      top: 15px;
      left: 20px;

    }
    @include breakpoint($brp-3) {
      text-align: center;
      font-size: 3rem;
      line-height: 3.6rem;
      padding: 0;
      @include transform(translateX(-50%));
      left: 50%;
      top: 85px;
      position: absolute;
    }
  }
  &__wrp {
    cursor: pointer;
    position: relative;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(flex-start);
    @include justify-content(center);
    border: 3px solid #735462;
    background: $lbrown;
    width: 290px;
    height: 100px;
    padding: 0 0 0 20px;
    @include transition(background .3s);
    @include breakpoint($brp-3) {
      padding: 0;
      width: 220px;
      height: 280px;
    }
    @include breakpoint($brp-4) {
      width: 260px;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      border-radius: 50%;
      @include transition(background .3s);
      @include transform(translateY(-50%));
      @include breakpoint($brp-3) {
        @include transform(translateX(-50%));
        left: 50%;
        top: auto;
        bottom: 18px;
      }
    }
    &::after {
      right: 43px;
      width: 14px;
      height: 14px;
      background: $lbrown;
      @include breakpoint($brp-3) {
        height: 25px;
        width: 25px;
        bottom: 28px;
      }
    }
    &::before {
      height: 30px;
      width: 30px;
      background: $brown;
      display: block;

      right: 35px;
      @include breakpoint($brp-3) {
        height: 45px;
        width: 45px;
      }
    }
  }
  &__radio {
    position: absolute;
    left: -1000px;
    &:checked + .payments__wrp {
      background: $brown;
      &::before {
        background: $lbrown;
      }
      &::after {
        background: $mint;
      }
    }
  }
  &__icon {
    position: absolute;
    left: 16px;
    top: 5px;
    @include breakpoint($brp-3) {
      position: static;
      left: 0;
      top: 0;
    }
    &::before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-image: url($svg);
      background-position: -10px -1385px;
      width: 54px;
      height: 54px;
      @include transform(scale(.82));
      position: absolute;
      top: 0;
      left: 0;
      @include breakpoint($brp-3) {
        left: 50%;
        top: 18px;
        @include transform(translateX(-50%));
      }
    }
    &_cur {
      top: 16px;
      &::before {
        background-position: -10px -1459px;
        width: 55px;
        height: 56px;
      }
    }
    &_card {
      top: 26px;
      &::before {
        background-position: -10px -1323px;
        width: 57px;
        height: 42px;
        @include breakpoint($brp-3) {
          top: 23px;
        }
      }
    }
  }
}

.basket {
  @include user-select(none);
  border-top: 1px solid $brown;
  margin: 25px 0 0;
  &__title {
    font-size: 1.6rem;
    color: $brown;
    cursor: pointer;
    vertical-align: middle;
    font-weight: bold;
    @include breakpoint($brp-3) {
      font-size: 1.8rem;
    }
  }
  &__price {
    font-size: 2.4rem;
    color: $brown;
    @include breakpoint($brp-3) {
      font-size: 3rem;
    }
    @include breakpoint($brp-4) {
      font-weight: 700;
    }
    &::after {
      content: '¤';
      font-weight: normal;
    }
  }
  &__left {
    width: 270px;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    margin: 0 auto 20px;
    @include breakpoint($brp-1) {
      margin: 0;
    }
    @include breakpoint($brp-3) {
      width: 100%;
      padding: 0 15px 0 0;
    }
  }
  &__right {
    width: 270px;
    margin: 0 auto;
    @include flex-shrink(0);
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    @include breakpoint($brp-1) {
      margin: 0;
    }
    @include breakpoint($brp-3) {
      width: 355px;
    }
    @include breakpoint($brp-4) {
      width: 385px;
    }
  }
  &__remove {
    cursor: pointer;
    display: none;
    @include flex-shrink(0);
    @include breakpoint($brp-1) {
      display: block;
    }
    &::before {
      content: '';
      display: block;
      background-image: url($svg);
      background-position: -10px -1535px;
      width: 23px;
      height: 26px;
    }
    &_mobile {
      display: block;
      @include breakpoint($brp-1) {
        display: none;
      }
    }
  }
  &__item {
    padding: 20px 10px;
    border-bottom: 1px solid $brown;
    @include breakpoint($brp-1) {
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);
      padding: 20px 10px;
    }
    @include breakpoint($brp-3) {
      padding: 30px 20px;
    }
    @include breakpoint($brp-5) {
      padding: 30px 110px 30px 100px;
    }
  }
}

.basket-total {
  @include user-select(none);
  text-align: center;
  font-size: 1.4rem;
  padding: 15px 0 0;
  color: $brown;
  @include breakpoint($brp-0) {
    br {
      display: none;
    }
  }
  @include breakpoint($brp-1) {
    font-size: 1.8rem;
    padding: 25px 0 0;
  }
  @include breakpoint($brp-4) {
    margin-left: auto;
    padding: 35px 20px 0;
    text-align: right;
  }
  @include breakpoint($brp-5) {
    padding: 35px 110px 0 100px;
  }
  &__price {
    font-size: 2.4rem;
    @include breakpoint($brp-1) {
      font-size: 3rem;
    }
    &::after {
      content: '¤';
    }
  }
  &__count {
    font-size: 2.4rem;
    @include breakpoint($brp-1) {
      font-size: 3rem;
    }
  }
}

.basket-money-box {
  @include user-select(none);
  padding: 25px 0 20px;
  border-bottom: 1px solid $brown;
  @include breakpoint($brp-3) {
    padding: 20px 0 30px;
  }
  @include breakpoint($brp-4) {
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-end);
    padding: 20px 20px 30px;
  }
  @include breakpoint($brp-5) {
    padding: 20px 110px 30px 100px;
  }
  &__text {
    text-align: center;
    font-size: 1.4rem;
    color: $brown;
    @include breakpoint($brp-0) {
      br {
        display: none;
      }
    }
    @include breakpoint($brp-3) {
      font-size: 1.8rem;
    }
  }
  &__price {
    font-size: 2.4rem;
    color: $brown;
    @include breakpoint($brp-3) {
      font-size: 3rem;
    }
    &::after {
      content: '¤';
    }
  }
  &__btn {
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0;
    text-align: center;
    color: #ffffff;
    width: 214px;
    height: 36px;
    margin: 20px auto 0;
    text-transform: uppercase;
    background: $lbrown;
    line-height: 3.6rem;
    border-radius: 18px;
    @include transition(color .3s, background .3s);
    @include breakpoint($brp-3) {
      width: 206px;
      height: 46px;
      line-height: 4.6rem;
      font-size: 1.8rem;
      border-radius: 23px;
    }
    @include breakpoint($brp-4) {
      margin: 0 0 0 35px;
    }
    &:hover {
      color: $brown;
      background: $mint;
    }
  }
}

.delivery {
  @include user-select(none);
  &__list {
    padding: 10px 0 0;
    max-width: 600px;
    margin: 0 auto;
    @include breakpoint($brp-3) {
      padding: 30px 0 0 45px;
    }
    @include breakpoint($brp-4) {
      max-width: none;
      margin: 0;
      padding: 30px 0 0 30px;
    }
    @include breakpoint($brp-5) {
      padding: 30px 0 0 100px;
    }
  }
  &__change {
    margin: 0 15px 0 0;
    font-size: 1.4rem;
    line-height: 1.2;
    color: $brown;
    display: inline-block;
    vertical-align: baseline;
    border-bottom: 1px solid $brown;
    @include transition(border-bottom-color .3s);
    @include breakpoint($brp-3) {
      margin: 0 10px 0 0;
    }
    &:last-child {
      margin: 0;
    }
    &:hover {
      border-bottom-color: transparent;
    }
  }
  &__item {
    overflow: hidden;
    position: relative;
    margin: 0 0 20px;
    &:last-child {
      margin: 0;
    }
    @include breakpoint($brp-3) {
      line-height: 2.6rem;
    }
  }
  &__title {
    font-size: 1.6rem;
    color: $brown;
    line-height: 2.4rem;
    &_adress {
      margin: 0 15px 0 0;
      @include breakpoint($brp-3) {
        margin: 0 10px 0 0;
      }
    }
  }
  &__cnt {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0 0 0 38px;
    @include breakpoint($brp-3) {
      padding: 0 0 0 50px;
    }
    &::before,
    &::after {
      content: '';
      border-radius: 50%;
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      background: $lbrown;
      left: 0;
      top: 2px;
      @include transition(background .3s);
      @include breakpoint($brp-3) {
        width: 26px;
        height: 26px;
        top: 0;
      }
    }

    &::after {
      background: $brown;
      width: 10px;
      height: 10px;
      left: 5px;
      top: 7px;
      @include breakpoint($brp-3) {
        width: 14px;
        height: 14px;
        left: 6px;
        top: 6px;
      }
    }
  }
  &__radio {
    position: absolute;
    left: -1000px;
    &:checked + .delivery__cnt {
      &::after {
        background: $mint;
      }
    }
    &:disabled + .delivery__cnt {
      &::before,
      &::after {
        opacity: .6;
      }
    }
  }
}

.delivery-form {
  margin: 50px auto 0;
  position: relative;
  padding: 20px 23px;
  max-width: 600px;
  background: $lbrown;
  @include breakpoint($brp-2) {
    padding: 20px 30px;
  }
  @include breakpoint($brp-4) {
    max-width: 1030px;
    padding: 30px;
  }
  &__data {
    @include breakpoint($brp-4) {
      padding: 0 104px 0 0;
      @include display(flex);
      @include justify-content(space-between);

    }
  }
  &__row {
    @include breakpoint($brp-2) {
      @include display(flex);
      @include justify-content(space-between);
    }
    @include breakpoint($brp-4) {
      /*      width: 30%;
            &:first-of-type {
              width: 65.5%;
            }*/
    }
  }
  &__comments {
    @include breakpoint($brp-2) {
      @include display(flex);
      @include justify-content(space-between);
      @include flex-wrap(wrap);
    }
    @include breakpoint($brp-4) {
      @include flex-wrap(nowrap);
    }
  }
  &__wrp {
    position: relative;
    &_comment {
      @include breakpoint($brp-4) {
        width: 100%;
      }
    }
    &_submit {
      width: 100%;
      @include breakpoint($brp-2) {
        @include clearfix();
      }
      @include breakpoint($brp-4) {
        width: auto;
        margin: 0 0 0 30px;
      }
      @include breakpoint($brp-4-1) {
        margin: 0 0 0 40px;
      }
    }
    &_status {
      @include breakpoint($brp-4) {
        position: absolute;
        right: 30px;
        top: 30px;
      }
    }
  }
  &__input {
    font-family: MVideo, sans-serif;
    display: block;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    background: $brown;
    border: none;
    width: 100%;
    color: #fff;
    height: 36px;
    line-height: 3.6rem;
    border-radius: 5px;
    padding: 0 10px 0 20px;
    margin: 0 0 10px;
    @include placeholder {
      color: #fff;
    }
    @include breakpoint($brp-2) {
      margin: 0 0 20px;
      height: 50px;
      line-height: 5rem;
      width: 250px;
    }
    @include breakpoint($brp-4) {
      width: 245px;
    }
    &_street {
      @include breakpoint($brp-4) {
        width: 285px;
        margin: 0 0 0 30px;
      }
      @include breakpoint($brp-4-1) {
        margin: 0 0 0 40px;
      }
    }
    &_flat {
      @include breakpoint($brp-4) {
        width: 115px;

      }
    }
    &_house {
      @include breakpoint($brp-4) {
        width: 100px;
        margin: 0 30px 0;
      }
      @include breakpoint($brp-4-1) {
        margin: 0 40px 0;
      }
    }
    &_area {
      height: auto;
      line-height: 1.2;
      min-height: 73px;
      padding: 10px 10px 10px 20px;
      @include breakpoint($brp-2) {
        min-height: 50px;
        height: 50px;
        width: 445px;
        padding: 18px 10px 10px 20px;
      }
      @include breakpoint($brp-4) {
        width: 100%;
        margin: 0;
      }
    }
  }
  &__status {
    display: block;
    background: #ef8e8e;
    margin: 0 auto 10px;
    position: relative;
    width: 64px;
    height: 30px;
    border: none;
    @include transition(background .3s);
    @include breakpoint($brp-2) {
      width: 64px;
      height: 50px;
    }
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 20px;
      height: 3px;
      border-radius: 3px;
      background: #000;
      @include transition(width .3s, left .3s, top .3s);
      @include transform(translate(-50%, -50%) rotate(-45deg));
    }
    &::after {
      @include transform(translate(-50%, -50%) rotate(45deg));
    }
    &_ok {
      background: $mint;
      &::after {
        @include transform(translate(-50%, -50%) rotate(45deg));
        width: 10px;
        left: 40%;
        top: 60%;
      }
      &::before {
        @include transform(translate(-50%, -50%) rotate(-45deg));
        left: 55%;
        top: 50%;
      }
    }
  }
  &__submit {
    display: block;
    text-align: center;
    background-color: $mint;
    text-decoration: none;
    text-transform: uppercase;
    color: $brown;
    padding: 0;
    border: none;
    margin: 0 auto;
    width: 214px;
    height: 36px;
    line-height: 3.6rem;
    border-radius: 1.8rem;
    @include transition(background .3s);
    @include breakpoint($brp-2) {
      float: right;
      width: 206px;
      height: 46px;
      line-height: 4.6rem;
      border-radius: 23px;
    }
    @include breakpoint($brp-4) {
      float: none;
      margin: 2px 0 0;
    }
    &:hover {
      background: #ffffff;
    }
    &:disabled {
      color: rgba($brown, .4);
    }
  }
}

.delivery-dist {
  padding: 0 0 30px;
  margin: 0 0 27px;
  border-bottom: 1px solid $brown;
  @include breakpoint($brp-3) {

  }
  &__item {

  }
}

.map {
  width: 100%;
  height: 285px;
  max-width: 1030px;
  margin: 20px auto;
  @include breakpoint($brp-3) {
    height: 400px;
    margin: 30px auto;
  }
}