.hdr {
  @include user-select(none);
  &__cnt {
    padding: 10px 0 0;
    @include clearfix();
    @include breakpoint($brp-4) {
      padding: 5px 0 13px;
      position: relative;
    }
  }
  &__contact {
    text-align: center;
    @include breakpoint($brp-4) {
      float: left;
      text-align: center;
    }
  }
  &__phone {
    position: fixed;
    left: -20px;
    bottom: -20px;
    background: url($svg) no-repeat;
    background-position: -10px -1151px;
    width: 140px;
    height: 152px;
    font-size: 0;
    z-index: 2;
    @include transform(scale(.54));
    @include breakpoint($brp-3) {
      @include transform(none);
      left: 15px;
      bottom: 15px;
    }
    @include breakpoint($brp-4) {
      background: none;
      display: block;
      position: static;
      width: auto;
      height: auto;
      text-decoration: none;
      font-size: 3rem;
      color: $brown;
      font-family: HaginCaps, serif;
    }
  }
  &__address {
    display: none;
    @include breakpoint($brp-4) {
      margin: 2px 0 0;
      display: block;
      color: $brown;
      font-size: 1.4rem;
    }
  }
  &__name {
    text-align: center;
    padding: 0 0 10px;
    @include breakpoint($brp-4) {
      width: 510px;
      padding: 0;
      position: absolute;
      left: 50%;
      top: 5px;
      @include transform(translateX(-50%));
    }
  }
  &__shop {
    position: relative;
    display: block;
    margin: 0 -15px;
    background-color: $lbrown;
    z-index: 2;
    @include breakpoint($brp-4) {
      background: none;
      margin: 0;
    }
    &-wrp {
      height: 56px;
      @include breakpoint($brp-4) {
        height: auto;
        float: right;
      }
    }
    &_fixed {
      margin: 0;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      @include breakpoint($brp-4) {
        width: auto;
        position: relative;
        top: auto;
        left: auto;
      }
    }
  }
  &__content {
    background: $brown;
    height: 200px;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: -1;
    visibility: hidden;
    @include transform(translateY(100px));
    @include transition(height .3s linear, transform .3s linear, opacity .3s linear, visibility .3s linear, z-index 0s linear .3s);
    @include breakpoint($brp-0) {
      padding: 30px 0 5px;
      height: 285px;
    }
    @include breakpoint($brp-3) {
      height: 330px !important;
      padding: 0;
    }
    @include breakpoint($brp-4) {
      @include transform(none);
      width: auto;
      background: none;
      top: 0;
      left: 0;
      position: relative;
      height: auto !important;
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }
    &_user {
      height: 110px;
    }
    &_cart {
      height: 265px;
    }
    &_in {
      @include transform(translateY(0));
      opacity: 1;
      visibility: visible;
      z-index: 3;
      @include transition(height .3s linear, transform .3s linear, opacity .3s linear, visibility .3s linear);
    }
  }
}

.m-menu {
  display: none;
}

.m-basket {
  line-height: 1;
  position: absolute;
  top: 20px;
  width: 290px;
  padding: 23px 38px 0 32px;
  height: 220px;
  left: 50%;
  border: 1px solid $brown;
  border-radius: 15px;
  background: $lbrown;
  @include transform(translateX(-50%) scale(0));
  @include transition(transform .3s linear);
  @include breakpoint($brp-3) {
    @include transform(scale(1));
    margin: 15px 0 0;
    padding: 23px 15px 15px;
    left: 0;
    top: 0;
    position: relative;
    width: 255px;
    height: auto;
  }
  @include breakpoint($brp-4) {
    @include transform(none);
    margin: 0;
    /*position: fixed !important;*/
    position: absolute !important;
    top: 115px;
    left: auto;
    right: auto;
    z-index: 1;
  }
  &_in {
    @include transform(translateX(-50%) scale(1));
    @include breakpoint($brp-3) {
      @include transform(scale(1));
    }
  }
  &__ttl {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.4rem;
  }
  &__icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    top: -5px;
    &::before {
      content: '';
      display: block;
      background-image: url($svg);
      background-position: -10px -853px;
      width: 39px;
      height: 32px;
      @include transform(scale(.81));
    }
  }
  &__count {
    background: $mint;
    color: #330000;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
    width: 18px;
    height: 18px;
  }
  &__btn {
    text-decoration: none;
    cursor: pointer;
    border: none;
    display: block;
    background: $brown;
    width: 100%;
    height: 47px;
    font-size: 2rem;
    line-height: 4.7rem;
    text-align: center;
    margin: 5px auto 0;
    border-radius: 18px;
    text-transform: uppercase;
    color: #fff;
    @include transition(color .3s linear, background .3s linear, opacity .3s linear);
    &:disabled {
      opacity: .4;
      background: $brown !important;
      color: #fff !important;
    }
    &:hover {
      color: $brown;
      background: $mint;
    }
    @include breakpoint($brp-3) {
      font-size: 1.6rem;
      width: 172px;
      height: 38px;
      line-height: 3.8rem;
    }
  }
  &__txt {
    margin: 15px 0 5px;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
  }
  &__price {
    color: #fff;
    text-align: center;
    font-size: 2.4rem;
    text-transform: uppercase;
    &::after {
      content: '¤';
    }
  }
  &__about {
    text-align: center;
    &-l {
      font-size: 1.2rem;
      text-decoration: none;
      color: #45343e;
    }
  }
  &__row {
    margin: 10px 0 0;
    @include clearfix();
  }
  &__l {
    float: left;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    border-bottom: 1px solid #fff;
    @include transition(border-bottom-color .3s linear);
    &:hover {
      border-bottom-color: transparent;
    }
    &_r {
      float: right;
    }
  }
}

.m-user {
  line-height: 1;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 0 0;
  @include transform(scale(0));
  @include transition(transform .3s linear);
  @include breakpoint($brp-3) {
    @include transform(scale(1));
    position: relative;
  }
  @include breakpoint($brp-4) {
    width: 255px;
  }
  &_in {
    @include transform(scale(1));
  }
  &__enter {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 3rem;
    margin: 0 0 10px;
    @include breakpoint($brp-4) {
      color: $brown;
    }
  }
  &__reg {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    display: block;
    @include breakpoint($brp-4) {
      color: $brown;
    }
  }
  &__out {
    position: absolute;
    top: -15px;
    right: -25px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    @include transition(transform .3s ease-in);
    @include breakpoint($brp-4) {
      border: 1px solid $brown;
      width: 13px;
      height: 13px;
      top: -2px;
      right: -15px;
    }
    &::before,
    &::after {
      content: '';
      display: block;
      background: $brown;
      width: 15px;
      height: 1px;
      position: absolute;
      left: 4px;
      top: 11px;
      @include transform(rotate(-45deg));
      @include breakpoint($brp-4) {
        width: 7px;
        left: 2px;
        top: 5px;
      }
    }
    &::after {
      @include transform(rotate(45deg));
    }
    &:hover {
      @include transform(rotate(180deg));
    }
  }
  &__name {
    font-size: 3rem;
    color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 12px;
    @include breakpoint($brp-4) {
      color: $brown;
    }
  }
  &__phone {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: $mint;
    font-size: 1.8rem;
    @include breakpoint($brp-4) {
      color: $brown;
    }
  }
}

.user-cart {
  @include breakpoint($brp-3) {
    padding: 8px 0 0;
    float: right;
  }
}

.burger {
  @include burger-menu(none, 32px, 24px, 3px, $mint, 6px, 2px);
  margin: 0;
  top: 2px;
  @include breakpoint($brp-4) {
    display: none;
  }
}

.i-bskt {
  margin: 0 20px 0 auto;
  position: relative;
  @include breakpoint($brp-3) {
    margin: 0 30px 0 auto;
  }
  &::before {
    content: '';
    display: block;
    background-image: url($svg);
    background-position: -10px -853px;
    width: 39px;
    height: 32px;
    @include transform(scale(.71));
    @include breakpoint($brp-3) {
      @include transform(scale(.81));
    }
  }
  &__count {
    color: #330000;
    background: $mint;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    @include breakpoint($brp-3) {
      font-size: 1.3rem;
      line-height: 1.8rem;
      width: 18px;
      height: 18px;
    }
  }
}

.i-user {
  width: 30px;
  height: 28px;
  position: relative;
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url($svg);
    background-position: -10px -905px;
    width: 30px;
    height: 28px;
    @include transform(scale(.82));
    @include breakpoint($brp-3) {
      @include transform(scale(.88));
    }
  }
  &::after {
    background-position: -10px -953px;
    opacity: 0;
    @include transition(opacity .3s ease-in);
  }
  &_in,
  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.nav-row {
  height: 56px;
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
  @include breakpoint($brp-4) {
    display: none;
  }
}

.logo-name {
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 510px;
  @include breakpoint($brp-4) {
    padding: 40px 0 0;
  }
  &__txt {
    font-size: 1rem;
    display: block;
    font-family: HaginCaps, serif;
    color: $brown;
    @include breakpoint($brp-3) {
      font-size: 1.6rem;
    }
  }
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 0 auto 0;
  @include breakpoint($brp-3) {
    width: 84px;
    height: 84px;
  }
  @include breakpoint($brp-4) {
    height: 58px;
    width: 58px;
    margin: 0;
  }
}

.t-menu {
  line-height: 1;
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  overflow: hidden;
  @include breakpoint($brp-4) {
    background: url($path + "img/bg.jpg") 0 -200px;
    &_fixed {
      top: 0;
      left: 0;
      position: fixed;
      z-index: 2;
    }
  }
  @include breakpoint($brp-5) {
    background: url($path + "img/bg.jpg") 0 -200px;
  }
  &_inner {
    background-position: 0 -127px;
  }
  &__cnt {
    display: none;
    width: 100%;
    height: 68px;
    @include breakpoint($brp-4) {
      display: block;
    }
  }
  &__line {
    height: 2px;
    width: 0;
    background-color: $lbrown;
    position: absolute;
    bottom: 0;
    left: 50%;
    @include transition(width .3s linear, left .3s linear);
    &_in {
      @include transform(scale(1));
      width: 100%;
      left: 0 !important;
    }
  }
  &__l {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $brown;
    display: block;
    padding: 17px 3px;
    @include transition(color .3s ease-in);
    position: relative;
    @include breakpoint($brp-5) {
      font-size: 1.4rem;
      padding: 16px 5px;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: $brown;
      @include transform(scale(0, 1));
      @include transition(transform .3s ease-in, background .3s ease-in);
    }
    &::after {
      top: auto;
      bottom: 0;
    }
    &_in,
    &:hover {
      color: $lbrown;
      &::after,
      &::before {
        @include transform(scale(1, 1));
        background: $lbrown;
      }
    }
  }
  &__lst {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
  }
}

.bnr {
  overflow: hidden;
  height: 350px;
  @include breakpoint($brp-3) {
    height: 420px;
  }
  @include breakpoint($brp-4) {
    height: 375px;
  }
}

.auth-modal {
  z-index: -1;
  opacity: 0;
}