@charset "UTF-8";
@include font-face('MVideo', $path + 'fonts/MVideo/MVideo', normal, normal, otf svg ttf woff ttf);
@include font-face('MVideo', $path + 'fonts/MVideoBold/MVideoBold', 700, normal, otf svg ttf woff ttf);
@include font-face('MVideo', $path + 'fonts/MVideoLight/MVideoLight', 300, normal, otf svg ttf woff ttf);
@include font-face('HaginCaps', $path + 'fonts/HaginCaps/Hagin_Caps_Medium', normal, normal, otf /*ttf  svg eot woff*/
);

/*@include font-face('ProximaNova', $path + 'fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold', bold, normal, ttf otf svg eot woff);
@include font-face('ProximaNova', $path + 'fonts/ProximaNova/ProximaNovaRegularItalic/ProximaNovaRegularItalic', normal, italic, otf);
@include font-face('ProximaNova', $path + 'fonts/ProximaNova/ProximaNovaBoldItalic/ProximaNovaBoldItalic', bold, italic, ttf otf svg eot woff);
@include font-face('lg', $path + 'fonts/Lg/lg', normal, normal, eot svg ttf woff);*/

* {
  @include box-sizing;
  &::after,
  &::before {
    @include box-sizing;
  }
}

@include stickyFooter();

/*@include headModal;
@include modalWindow();*/

@include scrollbars(.4rem, $brown);

body {
  font: normal $fnt_size sans-serif;
  line-height: 1.14;
  color: $text;
  background-image: url($path + "img/bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  position: relative;
}

.wrp {
  background-image: url($path + "img/bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main {
  @include clearfix();
  padding: 0 0 25px;
  &__cnt {
    width: 100%;
  }
}

.sprite-svg {
  display: none;
}

.fonts-loaded body {
  font-family: "MVideo", sans-serif;
}

.cnt {
  width: 100%;
  max-width: $w;
  margin: 0 auto;
  padding: 0 15px;
  &_head {
    @include clearfix();
    @include breakpoint($brp-4) {
      padding: 0;
    }
  }
  &_main {
    @include breakpoint($brp-4) {
      padding-top: 26px;
      @include display(flex);
      @include align-items(flex-start);
      @include justify-content(space-between);
      &::after,
      &::before {
        content: '';
        display: block;
      }
    }
  }
  &_ftr-b {
    @include clearfix();
  }
}

.aside {
  margin: 20px 0 0;
  @include breakpoint($brp-3) {
    margin: 0;
  }
  @include breakpoint($brp-4) {

    @include flex-shrink(0);
    width: 170px;
    padding-right: 15px;
  }
}

.l-menu {
  line-height: 1;
  @include breakpoint($brp-4) {
    padding: 40px 0 0;
  }
  &__lst {
  }
  &__sub {
    margin-top: 25px;
    font-size: 0;
    @include breakpoint($brp-2) {
      margin: 30px 0 0;
    }
    @include breakpoint($brp-4) {
      padding: 0 0 0 25px;
      margin: 15px 0 0;
    }
    &-l {
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      font-size: 2.4rem;
      color: $brown;
      position: relative;
      @include transition(color .3s ease-in);
      padding: 0 0 9px;
      @include breakpoint($brp-0) {
        padding: 0 6px 9px;
        font-size: 3rem;
      }
      @include breakpoint($brp-4) {
        padding: 0 0 9px;
        font-size: 1.4rem;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        @include transition(background .3s ease-in, transform .3s ease-in);
        background: $brown;
        @include transform(scale(0, 1));
        @include breakpoint($brp-4) {
          height: 1px;
        }
      }
      &.in,
      &:hover {
        color: $lbrown;
        &::after {
          background: $lbrown;
          @include transform(scale(1, 1));
        }
      }
    }
    &-itm {
      display: inline-block;
      vertical-align: top;
      margin: 0 32px 0 0;
      &:last-child {
        margin: 0;
      }
      @include breakpoint($brp-4) {
        display: block;
        text-align: left;
        margin: 0 0 8px;
      }
    }
  }
  &__l {
    font-size: 3.6rem;
    text-transform: uppercase;
    color: $lbrown;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    border: 2px solid $lbrown;
    border-left: none;
    border-right: none;
    padding: 15px 0;
    position: relative;
    @include breakpoint($brp-4) {
      border: none;
      vertical-align: middle;
      font-size: 1.6rem;
      line-height: 2.2rem;
      padding: 0 0 0 10px;
      height: 22px;
      text-transform: none;
      color: $brown;
      position: relative;
      @include transition(color .3s ease-in);
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 22px;
        width: 2px;
        background: $lbrown;
        @include transition(transform .3s ease-in);
        @include transform(scale(1, 0));
      }
      &_in,
      &:hover {
        color: $lbrown;
        &::before {
          @include transform(scale(1, 1));
        }
      }
    }
  }
  &__itm {
    display: none;
    @include breakpoint($brp-4) {
      display: block;
      margin: 0 0 15px;
      &:last-child {
        margin: 0;
      }
    }
    &_tablet {
      display: block;
      text-align: center;
      @include breakpoint($brp-4) {
        text-align: left;
      }
    }

    &_parent {
      max-height: none;
      margin: 0 0 15px;
      @include breakpoint($brp-3) {
        margin: 0 0 40px;
      }
      @include breakpoint($brp-4) {
        margin: 0 0 15px;
        max-height: 22px;
        overflow: hidden;
        @include transition(margin .6s linear, max-height .6s linear);
        &:hover,
        &_in {
          margin: 0 0 5px;
          .l-menu__l {
            color: $lbrown;
            &::before {
              @include transform(scale(1, 1));
            }
          }
        }
      }
    }
  }
}

.brdcrmb {
  display: none;
  margin: 0 0 25px;
  @include breakpoint($brp-4) {
    display: block;
  }
  &__cnt {
  }
  &__itm {
    text-decoration: none;
    font-size: 1.4rem;
    color: $lbrown;
    &::after {
      content: '/';
      margin: 0 5px;
    }
    &_last {
      color: $brown;
      &::after {
        display: none;
      }
    }
  }

}

.placeholder {
  background-color: #46333C;
  text-align: center;
  position: relative;
  top: -10%;
  &__text {
    margin-top: -30px;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: $mint;
    @include breakpoint($brp-2) {
      font-size: 3rem;
    }
  }
  &__img {
    width: 100%;

    @include breakpoint($brp-0) {
      width: 445px;
    }
  }
  &__body {
    @include user-select(none);
    background: none;
    background-color: #46333C !important;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-wrap(wrap);
    width: 100%;
  }
}

.h1 {
  font-size: 3rem;
  color: $brown;
  text-align: center;
  @include user-select(none);
  @include breakpoint($brp-3) {
    font-size: 3.6rem;
  }
  &_checkout {
    padding: 25px 0;
    @include breakpoint($brp-4) {
      padding: 20px 0;
    }
  }

}